@font-face {
    font-family: Montserrat;
  
    src: url("../fonts/Montserrat-Regular.ttf");
 
}

@font-face {
    font-family: Digital Numbers;

    src: url("../fonts/DigitalNumbers-Regular.ttf");

}

@font-face {
    font-family: Days One;

    src: url("../fonts/DaysOne-Regular.ttf")
 
}

.champ {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000000;
}

.verh {
    position: relative;
    margin-top: -100vh;
}

body {
    background-image: url("/src/img/Group\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name-border {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    height: auto;
    text-align: center;

}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 95.4%;


    display: flex;
    align-items: center;
    text-align: center;
    width:min-content;
    color: #000000;
}

.yellow {
    background: yellow;
    border: 20px solid #FFFFFF;
    border-radius: 15px;
    height: 19vh;
}

.chet {
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 400px;
    line-height: 488px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    height: 40vh;

}

.white-bord {
    background: #FFFFFF;
    border-radius: 23px;
    height: auto;
    width: auto;
}

.time {
    max-width: max-content;

    font-family: 'Digital Numbers';
    font-style: normal;

    font-size: 130px;
    font-weight: bold;
    line-height: 103px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

.score {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 183px;

    text-align: center;
    color: #FFFFFF;

}

.num-round {
    font-weight: 900;
}

.cat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    width: max-content;
    color: #FFFFFF;

}

.country {
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 145px;
    line-height: 185px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.test {
    height: 2vh !important;
    margin-top: 80px;
}

.mont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 73px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.footer{
    width: 100%;
    height: 300px;
}
.tablo1{
    width: 200px;
    height: 65px;
    margin-left: 280px;
    margin-top: 235px;
    border-radius: 15px;
    background-color: crimson;
    color: #FFFFFF;
    
}
.gender{
    border-radius: 15px;
    background-color: white;
    width: 650px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}
.weight-category{
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}
.timer{
    width: 400px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}
.timer-text{
    text-align: center;
    font-size: 122px;
    font-family: 'Digital Numbers';
    font-weight: bold;
}
.fio{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;

    color: #000000;
}
.fio-box{
    height: 200px;
    text-align: center;
}
.down{
    margin-top: 40px;
}